*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	user-select: none;
	--xsmallest-width:730;
	--smallest-width:768;
	--small-width:992;
	--great-width:1050;
	--greatest-width: 1400;
}

@media (max-width: 768px)  { 
	main{
		width:calc(var(--xsmallest-width)*1px);
	}
	.card{
		width:calc((var(--xsmallest-width) - 6)/9*1px);
		height:calc(147/108*((var(--xsmallest-width) - 6)/9*1px));
	}
	.rows>div, .stacks>div, .results>div{
		height:calc(147/108*((var(--xsmallest-width) - 6 )/9*1px));
	} 
	.stacks{
		height:calc(2px + 2*147/108*((var(--xsmallest-width) - 6)/9*1px));
	} 
	nav{
		height:calc(50px*var(--xsmallest-width)/1050);
	}
	header, #round{
		font-size:calc(50px*var(--xsmallest-width)/1050);
	}
}

@media (min-width: 768px)  { 
	main{
		width:calc(var(--smallest-width)*1px);
	}
	.card{
		width:calc((var(--smallest-width) - 6)/9*1px);
		height:calc(147/108*((var(--smallest-width) - 6)/9*1px));
	}
	.rows>div, .stacks>div, .results>div{
		height:calc(147/108*((var(--smallest-width) - 6 )/9*1px));
	} 
	.stacks{
		height:calc(2px + 2*147/108*((var(--smallest-width) - 6)/9*1px));
	} 
	nav{
		height:calc(50px*var(--smallest-width)/1050);
	}
	header, #round{
		font-size:calc(50px*var(--smallest-width)/1050);
	}
}


@media (min-width: 992px)  { 
	main{
		width:calc(var(--small-width)*1px);
	}
	.card{
		width:calc((var(--small-width) - 6)/9*1px);
		height:calc(147/108*((var(--small-width) - 6)/9*1px));
	}
	.rows>div, .stacks>div, .results>div{
		height:calc(147/108*((var(--small-width) - 6 )/9*1px));
	} 
	.stacks{
		height:calc(2px + 2*147/108*((var(--small-width) - 6)/9*1px));
	} 
	nav{
		height:calc(50px*var(--small-width)/1050);
	}
	header, #round{
		font-size:calc(50px*var(--small-width)/1050);
	}
}
@media (min-width:1200px)  { 
	main{
		width:calc(var(--great-width)*1px);
	}
	.card{
		width:calc((var(--great-width) - 6)/9*1px);
		height:calc(147/108*((var(--great-width) - 6)/9*1px));
	}
	.rows>div, .stacks>div, .results>div{
		height:calc(147/108*((var(--great-width) - 6 )/9*1px));
	} 
	.stacks{
		height:calc(2px + 2*147/108*((var(--great-width) - 6)/9*1px));
	} 
	nav{
		height:calc(50px*var(--great-width)/1050);
	}
	header, #round{
		font-size:calc(50px*var(--great-width)/1050);
	}
}
@media (min-width: 1600px){ 
	main{
		width:calc(var(--greatest-width)*1px);
	}
	.card{
		width:calc((var(--greatest-width) - 6)/9*1px);
		height:calc(147/108*((var(--greatest-width) - 6)/9*1px));
	}
	.rows>div, .stacks>div, .results>div{
		height:calc(147/108*((var(--greatest-width) - 6 )/9*1px));
	} 
	.stacks{
		height:calc(2px + 2*147/108*((var(--greatest-width) - 6)/9*1px));
	} 
	nav{
		height:calc(50px*var(--greatest-width)/1050);
	}
	header, #round{
		font-size:calc(50px*var(--greatest-width)/1050);
	}

}

main{
	background-color:green;
	display:flex;
	flex-direction:column;
	margin:10px auto;
}
header{
	/*font-size:50px;*/
	color:lightgreen;
	text-align:center;
	flex-grow:1;
	margin-top:5px;
}
.playfield{
	display:flex;
	flex-direction:row;
	flex-grow:10;
}
.rows{
	flex-grow:7;
	display:flex;
	flex-direction:row;
	border: solid 1px white;

}
nav{
	flex-grow:1;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.rows>div, .stacks>div, .results>div{
	flex-grow:1;
	background-color: aquamarine;
	border:2px solid green;
	border-radius:5px;
	position:relative;
}
.stacks{
	flex-grow:1;
	display:flex;
	flex-direction:column;
	border: solid 1px green;
}
.results{
	flex-grow:1;
	display:flex;
	flex-direction:column;
	border: solid 1px green;
}
.spades, .clovers, .hearts, .diamonds{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.spades{
	background-image: url("../img/spade.png");
}
.hearts{
	background-image: url("../img/heart.png");
}
.diamonds{
	background-image:url("../img/diamond.png");
}
.clovers{
	background-image: url("../img/clover.png");
}
.card{
	position:absolute;
	left:0;
	border-radius:5px;
}
.card>img{
	width:100%;
	height:100%;
	border:none;
	padding:1px;
}
.hidden{
	visibility:hidden;
}

nav>img {
	height:100%;
	margin:6px;
	border-radius:10px;
}
nav>img:hover{
	cursor:pointer;
	background-color:red;
	
}
#round{
	margin:6px;
	height:100%;
	background-color:lightblue;
	font-weight:900;
	text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em red;
	color: white;
	
	text-align:center;
	width:100px;
	border-radius:10px;
	
}
#ghostdiv>div{
	box-shadow: 15px 15px 25px lightgray;
}
#screen{
	position:fixed;
	width:100%;
	height:100%;
	background-color: white;
	opacity: 0.2;
	top:0px;
	left:0px;
}
#screen>div{
	position:absolute;
	left:50%;
	top:50%;
	font-size:200px;
	color:green;
	transform: translate(-50%, -50%);
}
.screen_hide{
	display:none;
}
.screen_visible{
	display:block;
}

